* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: Arial, helvetica, sans-serif;
}

#container-outer {
    width: 100%;
    background-color: aqua;
    height: 100%;
    margin: 0px;
}

#header{
    width: 100%;
    background-color: lightgray;
    overflow: hidden;
}

.flex {
    display: flex;
}

#container-inner {
    width: 100%;
    overflow: auto;
}

#sidebar {
    width: 20%;
    background-color: aquamarine;
    float: left;
    display: block;
    padding: 9px;
}

tr:nth-child(odd)
{
    background: #c0fff3;
}
.nav {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}


.nav-link {
    text-decoration: none;
    border-bottom: 1px solid gray;
    display: block;
    padding: 4px;
}

.nav-link:link, .nav-link:visited{
    display: block;
    background: #afc8ff;
}

.nav-link:hover {
    background: #afc8dd;
    font-weight: bold;
    color: whitesmoke;
}


.cms-btn {
    margin: 2px;
    text-decoration :none;
    font-weight: bold;
    padding: 3px;
    border: 1px solid lightgray;
    background: lightblue;
    color: white;
}

.cms-btn:hover{
    background: darkgrey;
    text-shadow: 1px 1px 2px lightblue;
    box-shadow: 1px 1px 2px lightblue;
}
#content {
    width: 80%;
    background-color: azure;
    float: right;
    display: block;
    padding: 9px;
}

#footer {
    width: 100%;
    background-color: lightgoldenrodyellow;
    clear: both;
    overflow: hidden;
}

